@import "tailwindcss";

@layer base{
  body {
    font-family: "Poppins", sans-serif;
  }
  html {
  scroll-behavior: smooth;
  }
  html, body {
  overflow-x: hidden;
  }
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  display: flex;
  animation: scroll-left 40s linear infinite; /* semakin besar durasi semakin lambat */
}
